<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Shopping List Item</title>
    <link href="css/google-icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script language="JavaScript" type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <form id = 'formbatch'>
        <div>
            <label for="product_name">Product Name</label>
            <input id="product_name" name="product_name" type="text"/>

            <label for="batch_no" >Batch Number</label>
            <input id="batch_no" name="batch_no" type="text"/>

            <label for="manufacturer_name">Manufacturer Name</label>
            <input id="manufacturer_name" name="manufacturer_name" type="text"/>
            
            <div id="selection_manu" class="input-field" style="display:none">
                <select id="select_manu">
                    <option value="" disabled selected>Choose Manufacturer</option>
                </select>
            </div>

            <div>
            <label for="new_manu">
                <input id="new_manu" name="new_manu" type="checkbox" checked="checked" class="filled-in"/>
                <span>New Manufacturer?</span>
            </label>
            </div>
            <br>


            <label for="deliver_Date">Delivery Date</label>
            <input id="delivery_Date" name="expiration_Date" type="date"/>

            <label for="expiration_Date">Expiration Date</label>
            <input id="expiration_Date" name="expiration_Date" type="date"/>

            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" type="number"/>

            <label for="unit_price">Price</label>
            <input id="unit_price" name="unit_price" type="number" step="any"/>
            
            <label for="threshold">Threshold</label>
            <input id="threshold" name="threshold" type="number"/>
        </div>
        <button id="addbatch" type="submit" class="waves-effect waves-light btn">Add Product</button>
    </form>
    </div>

    
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src='./DOM/addBatch.js'></script>
    <script src="./DOM/init.js"></script>
</body>
</html>