<!DOCTYPE html>
<html lang="en">
<head>

    <title>Inventory</title>
    <link href="css/google-icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="css/zrn_custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <div class="c_sidenav">
        
        <img id="biocorenavlogo" src="./images/Biocore_Logo_BlueWhite.png">
          <a href="#" id="dashboardNav"> <img class = "navicon" src="./images/Dashboard Icon.png">Dashboard</a>
          <a href="#" id="salesNav"> <img class = "navicon" src="./images/Sales Icon.png">Sales</a>
          <a href="#" id="inventoryNav"> <img class = "navicon" src="./images/Inventory Icon.png">Inventory</a>
          <a href="#" id="historyNav"> <img class = "navicon" src="./images/History Icon.png">History</a>
          <a href="#" id="reportsNav"> <img class = "navicon" src="./images/Reports Icon.png">Reports</a>
          <a href="#" id="notificationNav"> <img class = "navicon" src="./images/Notification Icon.png">Notifications</a>
        
          <div id = "timestamp"> 
            10:50:25 AM
            <div id = "datestamp">
                SUN 10/12/2020
            </div>
        
          </div>
        
    </div>

    <main>


        <div class="container">

            <!-- TITLES -->

            <div class="row">
                <div class="col s4">
                    <h4>
                        <i class="material-icons">arrow_back</i>
                        Dashboard
                    </h4>
                </div>
            </div>

            <div class="row">

                <div class= "col s12" style="margin-left: 10px;">
                    <h5>
                        Pending Orders
                    </h5>
                    
                    <div style="overflow-x: scroll;">
                        <div id="pending_orders" class="horizontal-flex">

                        </div>
                    </div>
                        
                </div>

            </div>

            <div class="row">
                <div  class= "col s3">
                    <h5>
                        <!-- <i class="material-icons">notifications</i> -->
                        Report
                    </h5>
                </div>

                <div class= "col s4">
                    <div class="input-field">
                        <p class="col s2">From: </p>
                        <input class="col s6" id="from_Date"  name="from_Date" type="date"/>
                    </div>
                </div>
                <div class = "col s4">
                    <div class="input-field">
                        <p class="col s2">To: </p>
                        <input class="col s6" id="to_Date"  name="to_Date" type="date"/>
                    </div>
                </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col s4 m4">
                        <div class="row">
                            <div class="col s12">
                                <div class="card white">
                                  <div class="card-content">
                                      <p style="font-size: x-large; font-weight: bold;">Total Completed Orders</p>
                                      <p id="completed_deliveries">240 Deliveries</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col s12">
                                <div class="card white">
                                  <div class="card-content">
                                      <p style="font-size: x-large; font-weight: bold;">Total Pending Orders</p>
                                      <p id="pending_deliveries">40 Deliveries</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col s12">
                                <div class="card white">
                                  <div class="card-content">
                                      <p style="font-size: x-large; font-weight: bold;">Total Sales</p>
                                      <p id="total_sales">PHP 1,000,000</p>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="col s8 m8">
                        <p style="font-size: x-large; font-weight: bold;">Top Performing Products</p>
                        <table class="highlight centered mt">
                            <thead class="zrn-background zrn-white-font round-thead">
                                <tr>
                                    <th>Product</th>
                                    <th>Expiry Date</th>
                                    <th>Unit Price</th>
                                    <th>Total Orders</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_top">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            

        </div>
    </main>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="./js/init.js"></script>
    <script src="./res/dashboard.js"></script>
    <script src="./res/navbar.js"></script>
    <script src="./res/notification.js"></script>
</body>
</html>