<!DOCTYPE html>
<html lang="en">
<head>

    <title>Inventory</title>
    <link href="css/google-icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="css/zrn_custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <div class="c_sidenav">
        
        <img id="biocorenavlogo" src="./images/Biocore_Logo_BlueWhite.png">
          <a href="#" id="dashboardNav"> <img class = "navicon" src="./images/Dashboard Icon.png">Dashboard</a>
          <a href="#" id="salesNav"> <img class = "navicon" src="./images/Sales Icon.png">Sales</a>
          <a href="#" id="inventoryNav"> <img class = "navicon" src="./images/Inventory Icon.png">Inventory</a>
          <a href="#" id="historyNav"> <img class = "navicon" src="./images/History Icon.png">History</a>
          <a href="#" id="reportsNav"> <img class = "navicon" src="./images/Reports Icon.png">Reports</a>
          <a href="#" id="notificationNav"> <img class = "navicon" src="./images/Notification Icon.png">Notifications</a>
          
          <div id = "timestamp"> 
            10:50:25 AM
            <div id = "datestamp">
                SUN 10/12/2020
            </div>
        
          </div>
        
    </div>

    <main>

        <div class="container">

        <div class="row">
            <h4 class="col s2">Inventory </h4>

            <div class="inline col s2 mt">
                
                <select name = "dateFilter" id = "dateFilter">
                    <option value = "daily">Daily</option>
                    <option value = "weekly">Weekly</option>
                    <option value = "monthly">Monthly</option>
                </select>

            </div>
            

        </div>

        <div class="row">

            <div class="col s2">
                <select name = "searchFilter" id = "searchFilter">
                    <option value = "name">Name</option>
                    <option value = "date">Date</option>
                    <option value = "dateofdelivery">Date of Delivery</option>
                    <option value = "manufacturer">Manufacturer</option>
                    <option value = "expirationdate">Expiration Date</option>
                </select>
            </div>
            <input class="col s2" type = "text" id = "filter" name = "filter">

            <button class="waves-effect waves-light btn col s2 indigo darken-4">Search</button>	

            <button data-target="formPicker" class="modal-trigger waves-effect waves-light btn col s2 right indigo darken-4">Add Stock</button>

        </div>

        <div class="row">
            <div class="col s12">
                <table class="highlight centered mt">
                    <thead class="zrn-background zrn-white-font round-thead">
                        <tr>
                            <th>Product</th>
                            <th>Current Inventory</th>
                            <th>Starting Inventory</th>
                            <th>Offtake</th>
                            <th>Ending Inventory</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_inventory" >
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="material-icons red-text">warning</i> 1 
                                <i class="material-icons yellow-text text-darken-1">warning</i> 1 
                                <i class="material-icons orange-text text-darken-1">hourglass_empty</i> 1 
                                <i class="material-icons grey-text text-darken-1">hourglass_empty</i> 1 
                                <i class="material-icons green-text text-accent-4">check_circle</i>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="material-icons red-text">warning</i> Out Of Stock
                                <i class="material-icons grey-text text-darken-1">hourglass_empty</i> Expired 
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </main>

    <!-- MODALS -->

    <!-- MODAL FOR PICKING FORM -->
    <div id="formPicker" class="modal">

        <div class="modal-content">
            <h5 class="center">Add New Stock</h5>
            <p class="center">Which action do you want to proceed with?</p>
            <div class="row">
            <button data-target="add_Product" class="modal-trigger modal-close waves-effect waves-light btn col s4 offset-s4 indigo darken-4">Add New Product</button>
            </div>

            <div class="row">
                <button data-target="add_Batch" class="modal-trigger modal-close waves-effect waves-light btn col s4 offset-s4 indigo darken-4">Add New Batch</button>
            </div>
        </div>

    </div>

    <!-- MODAL FOR FOR NEW PRODUCT -->
    <div id="add_Product" class="modal">
        <div class="modal-content">
          <h5 class="bold">Add New Product</h5>
          <form id = 'formproduct'>
            <div>
            
            <div class="input-field">
            <label for="product_name">Product Name</label>
            <input class="validate" id="product_name" name="product_name" type="text" required/>
            <span id="product_nameHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>

            <div class="input-field">
                <label for="batch_no" >Batch Number</label>
                <input class="validate" id="batch_no" name="batch_no" type="text" required/>
                <span id="batch_noHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>

            <div class="input-field">
                <label for="manufacturer_name">Manufacturer Name</label>
                <input class="validate" id="manufacturer_name" name="manufacturer_name" type="text" placeholder="Manufacturer Name" required/>
                <span id="manufacturer_nameHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>
            
            <div id="selection_manu" class="input-field" style="display:none">
                <select id="select_manu" class="active">
                    <option value="" disabled selected>Choose Manufacturer</option>
                </select>
            </div>

            <p>
            <label for="new_manu">
                <input id="new_manu" name="new_manu" type="checkbox" checked="checked" class="filled-in" required/>
                <span>New Manufacturer?</span>
            </label>
            </p>
            <br>

            <div class="input-field">
            
                <label for="deliver_Date">Delivery Date</label>
                <input class="active" id="delivery_Date" name="expiration_Date" type="date" placeholder="mm/dd/yyyy" required/>
            </div>
            
            <div class="input-field">
            
                <label for="expiration_Date">Expiration Date</label>
                <input class="active" id="expiration_Date" name="expiration_Date" type="date" placeholder="mm/dd/yyyy" required/>
            </div>
            
            <div class="input-field">
            
                <label for="quantity">Quantity</label>
                <input class="validate" id="quantity" name="quantity" type="number" min="0" required/>
                <span id="quantityHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>
            
            <div class="input-field">
                <label for="unit_price">Price</label>
                <input class="validate" id="unit_price" name="unit_price" type="number" step="any" min="0" required/>
                <span id="unit_priceHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>
            
            <div class="input-field">
            <label for="threshold">Threshold</label>
            <input class="validate" id="threshold" name="threshold" type="number" min="0" required/>
            <span id="thresholdHelper" class="helper-text" data-error="Invalid Input" data-success=""></span>
            </div>

            <button id="addProduct" type="submit" class="modal-close waves-effect waves-light btn">Add Product</button>
            </div>
        </form>
        </div>
    </div>

    <!-- MODAL FOR NEW BATCH -->
    <div id="add_Batch" class="modal">
        <div class="modal-content">
            <h5 class="bold">Add New Batch</h5>
            <form id="formbatch">
            <div>
                
                <div id="div_select_product_name" name="product_name" class="input-field">
                    <select id="b_select_product">
                        <option value="" disabled selected>Choose Product</option>
                    </select>
                </div>

                <div class="input-field">
                    <label for="b_batch_no" >Batch Number</label>
                    <input id="b_batch_no" name="b_batch_no" type="text"/>
                </div>
                
                <div id="b_selection_manu" class="input-field">
                    <select id="b_select_manu">
                        <option value="" disabled selected>Choose Manufacturer</option>
                    </select>
                </div>

                <div class="input-field">
                    <label for="b_deliver_Date">Delivery Date</label>
                    <input class="active" id="b_delivery_Date" name="b_expiration_Date" type="date" placeholder="mm/dd/yyyy"/>
                </div>
                
                <div class="input-field">
                
                    <label for="b_expiration_Date">Expiration Date</label>
                    <input class="active" id="b_expiration_Date" name="b_expiration_Date" type="date" placeholder="mm/dd/yyyy"/>
                </div>
                
                <div class="input-field">
                    <label for="b_quantity">Quantity</label>
                    <input id="b_quantity" name="b_quantity" type="number"/>
                </div>
                
                <div class="input-field">
                
                    <label for="b_unit_price">Price</label>
                    <input id="b_unit_price" name="b_unit_price" type="number" step="any"/>
                </div>
                
                <div class="input-field">
                <label for="b_threshold">Threshold</label>
                <input id="b_threshold" name="b_threshold" type="number"/>
                </div>

                <button id="addBatch" type="submit" class="modal-close waves-effect waves-light btn">Add Product</button>
        </div>
        </form>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="./js/init.js"></script>
    <script src="./res/inventoryMasterlist.js"></script>
    <script src="./res/navbar.js"></script>
</body>
</html>