
header, main, footer {
  padding-left: 220px;
}

main div.container{
  width: 95%
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.dashboard-scroll{

  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 0px;
  border-radius: 0%;
  height: 5px;
  width: 5px;
  background: red;
  color: white;
}

.bottom-sale{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.fix-logo {
    height: 32px;
    margin-top: 10px;
}

.fix-navbar {
    margin-left: 20px;
}
.round-thead table th:first-child{
  border-radius:20px 0 0 20px;
}

.round-thead table th:last-child{
  border-radius:0 20px 20px 0;
}

.bold h6{
  font-weight: bold;
}

.mt{
    margin-top: 10px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-5 {
    margin-right: 5px;   
}

.zrn-background{
    background-color: #061D54;
}

.zrn-white-font{
    color: white;
}

.zrn-color-font{
    color: #061D54;
}

.zero-mp {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#edit_batch.modal {
    width: 75% !important ; 
    height: 75% !important ;
}

/* Scrollable Tbody */

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

/* tbody {
  display:block;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
} */


/* NAVBAR */

.c_sidenav {
  height: 100%; 
  width: 222px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #061D54; 
  overflow-x: hidden;
  padding-top: 20px;
}

/* FOR THE NAV LAIDEASE DESIGN */
.c_sidenav a {
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 64px;
display: flex;
align-items: center;
color: #FFFFFF;
position: relative;
/* left: 28.51%;
right: 24.01%;
 */
top: 16.67%;
padding-left: 25px;
text-decoration: none;
}

/* FOR THE SEC-C HOVER CHILLING */
.c_sidenav a:hover {
  background-color: #f0f4ff25;
}

/* stuff for the company logo on top */

#biocorenavlogo {
position: absolute;
width: 166px;
height: 53px;
left: 26px;
top: 34px;
}

/* for the nav icon to have space before the text */
.navicon {
    padding-right: 14px;
}

/* big time stamp placeholder  */
/* big time stamp placeholder  */
#timestamp{
  position: absolute;
  left: 11.65%;
  right: 4.42%;
  top: 87.85%;
  bottom: 0%;
  
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  
  color: #FFFFFF;
  }
  
  /* datetstamp placeholder here  */
  #datestamp {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  }

body{
  font-family: 'Nunito', sans-serif;
  color: #061D54;
}